
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
    
    <title>Admin Ana Sayfa</title>
    <style>
        .card-body{
            opacity: 0;
            max-height: 0px;            
        }
        .anim-in{
            
            transition: opacity 2s, max-height 1s;
        }
        
    </style>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onclick="show(-2);">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="show(0);">Kullanıcı Ekleme</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="show(1);">Kitap Ekleme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="show(2); showSearchBox(0);" >Kitap Listeleme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="show(3);showSearchBox(1);">Kitap Kiralama</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="show(4);">Kiralanan Kitapları Listele</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index" onclick="sendquitreq();"> Çıkış</a>
          </li>
      </ul>
      <div class="container" style ="margin-top:20px;">                                     
        <div class="card row">
            <div class="card-header">Kullanıcı Ekleme</div>
            <div class="card-body">
                    <div id = "Kitap-form" name="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" name="roleNumber" id = "roleNumber" placeholder="Kullanıcı Rolü ">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" name="userName" id = "userName" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="form-group col-md-6">
                                    <input class="form-control" type="text" name="email" id = "email" placeholder="E-mail">
                            </div>
                            <div class="form-group col-md-6">
                                    <input class="form-control" type="text" name="password" id = "password" placeholder="Password">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" name="phoneNumber" id = "phoneNumber" placeholder="Telefon ">
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary btn" type="submit" onclick="sendInsertUser(this.parentNode);">Kullanıcı Ekleyin</button>
                    </div>
                    <hr>
            </div>
        </div>
    </div>

        <div class="container" style ="margin-top:20px;">                                     
                <div class="card row">
                    <div class="card-header">Kitap Ekleme</div>
                    <div class="card-body">
                            <div id = "Kitap-form" name="form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" type="text" name="bookName" id = "bookName" placeholder="Kitap Adı">
                                    </div>
                                    <div class="form-group col-md-6">
                                            <input class="form-control" type="text" name="author" id = "author" placeholder="Yazarı">
                                    </div>
                                    <div class="form-group col-md-6">
                                            <input class="form-control" type="text" name="pageNumber" id = "pageNumber" placeholder="Sayfa Sayısı">
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-primary btn" type="submit" onclick="sendInsertBook(this.parentNode);">Kitap Ekleyin</button>
                            </div>
                            <hr>
                    </div>
                </div>
        </div>
            <div class="container" style ="margin-top:20px;">
                <div class="card row">
                    <div class="card-header" >Kitap Listesi 
                        <input name="searchBox" class="form-control" type="text" placeholder="Yazar Ara" style="float: right; width: 30%; display: none;" onkeyup="listedBook(this.value,'adminbooklist');">
                    </div>
                    <div class="card-body">
                        <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Kitap Seç</th>
                                    <th scope="col">Kitap Adı</th>
                                    <th scope="col">Kitabın Yazarı</th>
                                    <th scope="col">Kitap Sayfa Sayısı</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody id="adminbooklist">
                                    <% var counter=0;
                                     booklist.forEach(book =>{  %>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input id="<%= book.bookid%>" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                    </label>
                                                    
                                                  </div>
                                            </td>
                                            <% Object.keys(book).forEach(key =>{ %>
                                                <% if(key !="bookid") { %>
                                                <td>
                                                    <%= book[key]; %>
                                                </td>
                                                <% } %>
                                            <% }) %>
                                            <td>
                                            <button type="button" class="btn btn-warning" onclick="hideChangeButton(this.parentNode.parentNode,<%= counter %>)">Değiştir</button>
                                            <div id="changeButtonGroup" class="btn-group" role="group" aria-label="Button group" style="display: None;">
                                                <button class="btn btn-success" onclick="sendUpdateRequest(this.parentNode.parentNode.parentNode,<%= counter %>)">✓</button>
                                                <button class="btn btn-danger" onclick="hideChangeButton(this.parentNode.parentNode.parentNode,<%= counter %>,false);">X</button>
                                            </div>
                                            </td>
                                        </tr>
                                    <% counter++; }) %>
                                </tbody>
                        </table>
                        <hr>  
                        <a id = "clear-books" class="btn btn-lg btn-dark btn" type="submit" href="#" onclick="deleteBook();">Seçilen Kitapları Sil</a>               
                    </div>
                </div>
            </div>
            <div class="container" style ="margin-top:20px;">
                <div class="card row">
                    <div class="card-header" >
                        Kitap Kiralama
                        <input name="searchBox" class="form-control" type="text" placeholder="Yazar Ara" style="float: right; width: 30%; display: none;" onkeyup="listedBook(this.value);">
                    </div>
                    <div class="card-body">
                        <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Kitap Seç</th>
                                    <th scope="col">Kitap Adı</th>
                                    <th scope="col">Kitabın Yazarı</th>
                                    <th scope="col">Kitap Sayfa Sayısı</th>
                                    <th scope="col">Ödünç Durumu 
                                        <input id=""  type="checkbox" value="" id="flexCheckChecked" onchange="rentfilter(this.checked);" >
                                        
                                      </div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody id="searchAuthor">
                                    <% booklist.forEach(book =>{ %>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input id="<%= book.bookid%>" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                    </label>
                                                    
                                                  </div>
                                            </td>
                                            <% Object.keys(book).forEach(key =>{ %>
                                                <% if(key !="bookid") { %>
                                                <td>
                                                    <%= book[key]; %>
                                                </td>
                                                <% } %>
                                            <% }) %>
                                            <% var flag=true;
                                            rentedBookList.forEach(temp=>{
                                                if(book.bookid == temp.bookid ) { %>
                                                    <td>Alındı</td>
                                                <% 
                                                flag=false;
                                                return
                                                } 
                                            });
                                                if(flag) { %>  
                                                    <td>Alınmamış</td>
                                              <% } %>
                                        </tr>
                                    <% }) %>
                                </tbody>
                        </table>
                        <hr>
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Kullanıcı Seç</th>
                                <th scope="col">Kullanıcı ID</th>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Kullanıcının Email Adresi</th>
                                <th scope="col">Kullanıcı Phone</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% userlist.forEach(user =>{ %>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input id="<%= user.userid%>" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                                <label class="form-check-label" for="flexCheckChecked">
                                                </label>
                                                
                                              </div>
                                        </td>
                                        <% Object.keys(user).forEach(key =>{ %>
                                            <% if(!["user_role","user_pass"].includes(key)) { %>
                                            <td>
                                                <%= user[key]; %>
                                            </td>
                                            <% } %>
                                        <% }) %>
                                    </tr>
                                <% }) %>
                            </tbody>
                    </table>
                    <hr>
                        <a id = "rent-books" class="btn btn-lg btn-dark btn" type="submit" href="#" onclick="rentBook(this.parentNode);">Kitap Kirala</a>               
                    </div>
                </div>
            </div>
            <div class="container" style ="margin-top:20px;">                                     
                <div class="card row">
                    <div class="card-header">Kiralanan Kitap Listeleme</div>
                    <div class="card-body">
                        <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Kiralanan Kitap Seç</th>
                                    <th scope="col">Kitabı Kiralayan Kişi</th>                                    
                                    <th scope="col">Kiralayan Kişinin Email</th>
                                    <th scope="col">Kiralayan Kişinin Telefon</th>
                                    <th scope="col">Kitap Adı</th>
                                    <th scope="col">Kitabın Yazarı</th>
                                  </tr>
                                </thead>
                                <tbody id="rentedtbody">
                                    <% rentList.forEach(rent =>{ %>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input id="<%= rent.bookid%>" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                    </label>
                                                    
                                                </div>
                                            </td>
                                            <% Object.keys(rent).forEach(key =>{ %>
                                                <% if(!["userid","bookid"].includes(key)) { %>
                                                <td>
                                                    <%= rent[key]; %>
                                                </td>
                                                <% } %>
                                            <% }) %>
                                        
                                        </tr>
                                    <% }) %>
                                </tbody>
                              </table>
                        <hr>
                        <a id = "send-books" class="btn btn-lg btn-dark btn" type="submit" href="#" onclick="CancelRentBook(this.parentNode);">Kitap İade</a>
                    </div>
                </div>
            </div>
            <script src="mainscript.js"></script>
</body>
</html>